<template>
    <article class="media">
        <figure class="media-left">
            <router-link
                v-if="comment.author.avatar"
                class="image is-48x48 is-square"
                :to="{ name: 'user-page', params: { id: comment.author.id } }"
            >
                <img class="is-rounded fit" :src="comment.author.avatar">
            </router-link>

            <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                <DefaultAvatar class="image is-48x48" :user="comment.author" />
            </router-link>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>
                        {{ comment.author.firstName }} {{ comment.author.lastName }}
                    </strong>
                    <br>
                    {{ comment.body }}
                    <br>
                    <small class="has-text-grey">
                        {{ comment.created | createdDate }}
                    </small>
                </p>
            </div>
        </div>
        <div class="media-right" v-if="isCommentOwner(comment.id, user.id)">
            <div class="buttons">
                <b-button type="is-warning" @click="onEditComment">Edit</b-button>
                <b-button type="is-danger" @click="onDeleteComment">Delete</b-button>
            </div>
        </div>
    </article>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import DefaultAvatar from '../../common/DefaultAvatar.vue';

export default {
    name: 'Comment',

    components: {
        DefaultAvatar,
    },

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),

        ...mapGetters('comment', [
            'isCommentOwner',
        ]),
    },

    props: {
        comment: {
            type: Object,
            required: true,
        },
    },

    methods: {
        ...mapActions('comment', [
            'deleteComment',
        ]),

        onEditComment() {

        },

        onDeleteComment() {
            this.$buefy.dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete Comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment(this.comment.id);
                    } catch {
                        this.$buefy.dialog.alert('Unable to delete comment!');
                    }
                }
            });
        },
    }
};
</script>

<style lang="scss" scoped>
nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}
</style>
